.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
.nyc_output
.cache
tmp
log
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
storage
public/assets
public/packs
public/packs-test
public/vite
public/vite-dev
public/vite-test
